<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>144253004932-pj7i4btvvt4s9vcggrlh0r3es6jcf6ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144253004932-pj7i4btvvt4s9vcggrlh0r3es6jcf6ru</string>
	<key>API_KEY</key>
	<string>AIzaSyALIAMa1dunbuM3atgLOExdyi1NJBVs1k0</string>
	<key>GCM_SENDER_ID</key>
	<string>144253004932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MonacoJoe.GroupCalendar</string>
	<key>PROJECT_ID</key>
	<string>group-calendar-d57ec</string>
	<key>STORAGE_BUCKET</key>
	<string>group-calendar-d57ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144253004932:ios:0aeacb64bc5defe7</string>
	<key>DATABASE_URL</key>
	<string>https://group-calendar-d57ec.firebaseio.com</string>
</dict>
</plist>